@charset "UTF-8";
@import 'nw_tool';
.nw_text_zt{
  color: #1E87F0 !important;/* 主题字体颜色 */
}
/* 图标 */
.nw_text_0769CB{
  color: #0769CB !important;/* 图标/区分辅助  */
}
.nw_text_00ABBD{
  color: #00ABBD !important;/* 图标/区分辅助 */
}
.nw_text_F65C09{
  color: #F65C09 !important;/* 图标/区分辅助  */
}
.nw_text_925AD3{
  color: #925AD3 !important;/* 图标/区分辅助  */
}
.nw_text_E21F0C{
  color: #E21F0C !important;/* 图标/区分辅助 -错误/警告提示 */
}
.nw_text_FFC417{
  color: #FFC417 !important;/* 图标/区分辅助 -警告提示 */
}
.nw_text_36B21D{
  color: #36B21D !important;/* 图标/区分辅助-操作成功 */
}
/* 文字颜色 */
.nw_text_26{
  color: #262626 !important;/* 一级文本-标题*/
}
.nw_text_59{
  color: #595959 !important;/* 二级文本-正文内容*/
}
.nw_text_8C{
  color: #8C8C8C !important;/* 三级文本-说明文字*/
}
.nw_text_FF{
  color: #FFFFFF !important;/* 反白一级文本-正文*/
}
.nw_text_B3{
  color: #B3B3B3 !important;/* 反白二级文本-正文*/
}
.nw_text_80{
  color: #808080 !important;/* 反白三级文本-正文*/
}
.nw_text_126CFD{
  color: #126CFD !important;/* 可交互文字链接信息*/
}
.nw_text_B4{
  color: #B4B4B4 !important;/* 禁用文字-白底*/
}
.nw_text_99{
  color: #999999 !important;/* 禁用文字-灰底*/
}

/* 字体大小 */
/*
f24-页面级标题大小,
f20-普通标题,
f16-子标题,
f14-正文,
f12-辅助说明
*/
.nw_f24 {
	font-size: nw_pxTorem(24px) !important;
}
.nw_f20 {
	font-size: nw_pxTorem(20px) !important;
}
.nw_f16 {
	font-size: nw_pxTorem(16px) !important;
}
.nw_f15 {
	font-size: nw_pxTorem(15px) !important;
}
.nw_f14 {
	font-size: nw_pxTorem(14px) !important;
}
.nw_f12 {
	font-size: nw_pxTorem(12px) !important;
}
/* 主题背景色 */
.nw_bag_zt{
  background-color: #1E87F0 !important;//导航栏背景色
}
/* 背景色 */
.nw_bag_F5{
  background-color: #F5F5F5 !important;//导航栏背景色
}
.nw_bag_E5{
  background-color: #E5E5E5 !important;//列表分割色
}
.nw_bag_61{
  background-color: #616161 !important;//阴影颜色
}
/* 边框色 */
.nw_bod_D8{
  border: 1px solid #D8D8D8 !important;//边框颜色
}
/* 图片图标大小 */
.nw_img_wh16{
 @include  nw_WH(nw_pxTorem(16px));
}
.nw_img_wh24{
 @include  nw_WH(nw_pxTorem(24px));
}
.nw_img_wh32{
 @include  nw_WH(nw_pxTorem(32px));
}
.nw_img_wh48{
 @include  nw_WH(nw_pxTorem(48px));
}
.nw_img_wh80{
 @include  nw_WH(nw_pxTorem(80px));
}
/* 按钮 */
/* 底部	按钮 外包围*/
.nw_bottom_button {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: nw_pxTorem(20px) nw_pxTorem(30px);
	-moz-box-shadow: 0px nw_pxTorem(-6px) nw_pxTorem(8px) rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0px nw_pxTorem(-6px) nw_pxTorem(8px) rgba(0, 0, 0, 0.03);
	box-shadow: 0px nw_pxTorem(-6px) nw_pxTorem(8px) rgba(0, 0, 0, 0.03);
	font-size: nw_pxTorem(34px);
}
// 实心按钮
.nw_buttom_100vw_88 { 
	@include nw_buttom_w_h_b(100vw, nw_pxTorem(44px), nw_pxTorem(0px));
}

.nw_buttom_354_44 {
	@include nw_buttom_w_h_b(nw_pxTorem(354px), nw_pxTorem(44px), nw_pxTorem(8px));
}

.nw_buttom_250_88 {
	@include nw_buttom_w_h_b(nw_pxTorem(125px), nw_pxTorem(44px), nw_pxTorem(8px));
}

.nw_buttom_125_44 {
	@include nw_buttom_w_h_b(nw_pxTorem(125px), nw_pxTorem(44px), nw_pxTorem(8px));
}
